body{
    min-height: 100vh;
    height: 100svh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin-top: 10vh;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.buttons-container > button:nth-child(2){
    margin-right: 10%;
}

.gallery{
    width: 80%;
    height: 70svh;
    display: grid;
    grid-template-columns: repeat(4, 35%);
    overflow: scroll;
    cursor: grab;
}

.tile{
    max-width: 550px;
    width: 100%;
    overflow: hidden;
}
.tile:nth-child(1){
    background-color: brown;
}

.tile:nth-child(2){
    background-color: aqua;
}

.tile:nth-child(3){
    background-color: yellow;
}
.tile:nth-child(4){
    background-color: violet;
}

.tile:hover{
    padding: 10px;
}

@media (max-width: 768px) {
    .gallery{
        width: 90%;
        height: 70svh;
        display: grid;
        grid-template-columns: repeat(4, 95%);
        overflow: scroll;
        cursor: grab;
    }    
}