

.not-found-container {
    font-family: "Space Mono", monospace;
    width: 100%;
    text-align: center;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 10rem; /* Large, bold font size */
  }
  
  p {
    font-size: 2rem;
  }
  
  .home-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    background-color: #333333; /* Or a color that matches your theme */
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive design adjustments if needed */
  @media (max-width: 768px) {
    h1 {
      font-size: 5rem;
    }
  
    p {
      font-size: 1.5rem;
    }
  }