.container{
    top: 1rem;
    position: fixed;
    width: 30rem;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    translate: -50%;
    backdrop-filter: blur(250px);
}

.element{
    padding: 1rem 0rem;
    font-size: 20px;
    font-family: "Space Mono", monospace;
    border-radius: 35%;
}

@media (max-width: 768px) {
    .container{
        background-color: #181818;
        top: 2rem;
        position: fixed;
        width: 20rem;
        z-index: 6;
        display: flex;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        translate: -50%;
        backdrop-filter: blur(250px);
        border-radius: 7px;
        padding: 0.4rem 0rem;
    }

    .element{
        color: white;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        font-family: "Space Mono", monospace;
        border-radius: 7px;
    }
}

