.container{
    background-color: transparent;
    top: 2rem;
    position: fixed;
    width: 35rem;
    z-index: 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    translate: -50%;
    border-radius: 7px;
    padding: 0.4rem 0rem;
    backdrop-filter: blur(250px);
}

.element{
    color: white;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-family: "Space Mono", monospace;
    transition: font-size 0.3s ease; /* Add this line */
}
.element:hover{
    cursor: pointer;
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .container{
        background-color: transparent;
        top: 2rem;
        position: fixed;
        width: 20rem;
        z-index: 6;
        display: flex;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        translate: -50%;
        backdrop-filter: blur(250px);
        border-radius: 7px;
        padding: 0.4rem 0rem;
    }

    .element{
        color: white;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        font-family: "Space Mono", monospace;
        border-radius: 7px;
    }
}

.dark-element{
    color: white;
}
.white-element{
    color: black;
}