<div class="mouse-position-getter" (mousemove)="getandUpdateMouseCoor($event)">
    <!-- if the screen is a touch screen , then fix the blub component in the middle of the screen -->
    <app-blub [isTouchScreen]="isTouchScreen" [mouseCoor]="sigMouseCoor()"></app-blub>
    <app-animated-welcome-paragraph ></app-animated-welcome-paragraph>
    <div [ngClass]="{'blured-background-white-mode': !appearanceService.sigDarkMode(),'blured-background-dark-mode': appearanceService.sigDarkMode()}"></div>
</div>